body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 50px;
    background-color: #ffcccc; /* Light red background */
}

#quiz-container {
    max-width: 600px;
    margin: auto;
    background-color: #ffffff; /* White container background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#header-bar {
    background-color: #3399ff; /* Blue header bar */
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 20px;
}

#question-number {
    color: #ffffff; /* White font color for question number */
}

#question-field {
    background-color: #b3b3b3; /* Oval-shaped field color */
    padding: 20px;
    border-radius: 50%;
    margin-bottom: 20px;
}

#question {
    margin: 0;
}

#options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.button-container button {
    padding: 10px;
    width: 48%; /* Adjust width as needed */
    border-radius: 5px;
    cursor: pointer;
}

#back-btn {
    background-color: #3399ff; /* Blue BACK button */
    color: #ffffff; /* White font color */
}

#next-btn {
    background-color: #00cc66; /* Green NEXT button */
    color: #ffffff; /* White font color */
}

button:hover {
    background-color: #005580; /* Darker blue on hover for BACK button */
}

#next-btn:hover {
    background-color: #008040; /* Darker green on hover for NEXT button */
}
